extends ../layout.pug 

block content
  .show-book
    div.book-desc
        .split-evenly
          p Title:
          p= book.title
        .split-evenly
          p Author:
          p= book.author
        .split-evenly
          p Genre:
          p= book.genre
        .split-evenly
          p Year:
          p= book.year
  .btn-group
    a.btn.btn-primary(href=`/books/${book.id}/edit`) Update Book
    a.btn.btn-delete(href=`/books/${book.id}/delete`) Delete Book
    a.btn.btn-secondary(href='/books') Book Listing
